.container {
    border: 1px solid #ccc; /* Establece un borde alrededor del contenedor con color gris claro */
    padding: 20px; /* Añade un relleno de 20px dentro del contenedor */
    border-radius: 20px; /* Agrega bordes redondeados al contenedor */
    max-width: 1000px; /* Establece el ancho máximo del contenedor a 800px */
    margin: 0 auto; /* Centra el contenedor horizontalmente en la página */
    background-color: #281263; /* Color de fondo para el contenedor */
}

.header {
    display: flex; /* Utiliza el modelo de caja flexible para el diseño del encabezado */
    align-items: center; /* Centra verticalmente los elementos del encabezado */
    justify-content: space-between; /* Distribuye uniformemente los elementos del encabezado a lo largo del eje principal, dejando espacio entre ellos */
    margin-bottom: 5px; /* Agrega un margen inferior de 20px al encabezado */
}

.logo img {
    max-width: 170px; /* Establece el ancho máximo de las imágenes del logo a 100px */
    height: auto; /* Permite que la altura de las imágenes del logo se ajuste automáticamente para mantener la proporción */
}

.titulo {
    text-align: center; /* Centra el texto del título del instituto */
}

table {
    width: 0%; /* Establece el ancho de la tabla al 100% del contenedor padre */
    border-collapse: collapse; /* Combina los bordes de las celdas de la tabla para un aspecto más limpio */
}

th, td {
    border: 1px solid #ebdede; /* Establece un borde de 1px sólido con color gris claro para las celdas de la tabla */
    padding: 10px; /* Añade un relleno de 8px alrededor del contenido de las celdas de la tabla */
    text-align: left; /* Alinea el texto a la izquierda dentro de las celdas de la tabla */
    cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre las celdas de la tabla para indicar que son clicables */
}

th {
    background-color: #f2f2f2; /* Establece un color de fondo gris claro para las celdas de encabezado de la tabla */
    font-weight: bold; /* Hace que el texto de las celdas de encabezado sea más grueso */
}
